
.error-msg{   /*错误提示信息*/
    color: red;
    text-align: center;
    font-size: 16px;
}

.user-tag{    /*用户标签*/
    font-size: smaller;
}

.am-tab-bar{  /*使导航始终在底部*/
    position: fixed;
    bottom: 0;
    width: 100%;
    height: inherit; 
  }
  
  .sticky-header{  /*使标题始终在顶部*/
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
