.user-avatar{
    width: 30%;
    margin: 0 auto;
}

.my-radio .am-radio {
    padding: 2.5px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 5px;
}

p{
    text-align: center;
}

.small-font{
    font-size: smaller !important;
}